@import "../zocial/zocial.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@charset "UTF-8";
.webkit,
.firefox {
  display: none;
}
/* visible only in web-kit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .webkit {
    display: inline !important;
  }
}
/* visible only in firefox */
.firefox,
x:-moz-any-link,
x:default {
  display: inline !important;
}
section {
  background: #5f5f5f;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5f5f5f,endColorstr=#5f5f5f);
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  margin: 0;
  padding: 0;
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  word-wrap: break-word !important;
  width: 100%;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  *overflow: visible;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
.sidebar,
.ex-sidebar,
#eyecatch {
  display: none;
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  .sidebar,
  .ex-sidebar,
  #eyecatch {
    display: block;
  }
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Headlines */
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: inherit !important;
  background-color: transparent !important;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco,Andale Mono,Courier New,monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  background: transparent;
}
body {
  color: #666666;
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0px;
  padding: 50px;
  width: 760px;
}
p,
ul,
ol,
pre,
blockquote,
hr,
object {
  margin: 1em 0;
}
img {
  border: none;
  vertical-align: bottom;
}
strong {
  font-weight: bold;
}
hr {
  height: 1px;
  border: none;
  background-color: #ddd;
}
h1,
h2,
h3,
h4 {
  font-family: helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 28px;
  display: block;
  clear: both;
  margin-bottom: 8px;
  margin-left: -1px;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
}
h5,
h6 {
  font-size: 12px;
}
/*h2 { font-weight: normal; font: 14px/1.5 Georgia, Helvetica, Arial, sans-serif; -webkit-font-smoothing: subpixel-antialiased; text-rendering: none; color:#666666; }

.body-post > h1, .body-page > h1 { font-weight: bold; margin: 20px 0 10px; font-size: 22px }
.body-post > h2, .body-page > h2 { font-weight: bold; margin: 20px 0 10px; font-size: 18px; font-family: helvetica, sans-serif; color:#333; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility;}

.body-post > h3, .body-page > h3 { font-weight: bold; margin: 20px 0 10px; font-size: 16px }
.body-post > h4, .body-page > h4 { font-weight: bold; margin: 20px 0 10px; font-size: 14px }
*/
.pagination {
  height: 36px;
  margin: 18px 0;
  clear: both;
}
.pagination ul {
  float: right;
  background: rgba(250, 250, 250, 0.6);
  margin: 0;
  border: 0px solid #ddd;
  border: 0px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
  height: 36px;
}
.pagination a {
  float: left;
  padding: 0 10px;
  line-height: 36px;
  text-decoration: none;
}
.pagination a:hover {
  background-color: #f1f1f1;
}
.pagination .active a {
  color: black;
}
.pagination .disabled a,
.pagination .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.pagination a {
  border-right: 1px solid #ddd;
}
.pagination li:last-child a,
.pagination ul > a:last-child {
  border-right: none;
}
.pgn {
  color: #5691CD;
  cursor: pointer;
}
.pgn a {
  border-right: 1px solid #ddd!important;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.clearfix_left {
  zoom: 1;
}
.clearfix_left:after {
  content: " ";
  display: block;
  clear: both;
}
.clearfix_left:after {
  content: " ";
  display: block;
  clear: both;
}
.clearfix_left:after {
  clear: left;
}
.spotlight {
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 100, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: -moz-radial-gradient(center bottom 0, circle bottom 100, #ffffff, rgba(255, 255, 255, 0));
  background: radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
}
/* Faded out hr */
hr.soften {
  height: 2px;
  margin: 0 auto;
  width: 50%;
  background-image: -webkit-linear-gradient(left, #f7f7f7 0%, #eeeeee 50%, #f7f7f7 100%);
  background-image: -moz-linear-gradient(left, #f7f7f7 0%, #eeeeee 50%, #f7f7f7 100%);
  background-image: -ms-linear-gradient(left, #f7f7f7 0%, #eeeeee 50%, #f7f7f7 100%);
  background-image: -o-linear-gradient(left, #f7f7f7, #eeeeee 50%, #f7f7f7);
  border: 0;
}
hr.transparent {
  background: transparent;
}
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
}
.panel_hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #5f5f5f;
  background-color: rgba(64, 64, 64, 0.75);
  border: 1px solid #505050;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.panel_inactive {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  color: #bbb;
  background: rgba(235, 235, 235, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.1);
}
/* markdown layout theme */
.off-webkit-appearance {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000000;
}
/* plain text */
@media screen {
  .str {
    color: #008800;
  }
  /* string content */
  .kwd {
    color: #000088;
  }
  /* a keyword */
  .com {
    color: #880000;
  }
  /* a comment */
  .typ {
    color: #660066;
  }
  /* a type name */
  .lit {
    color: #006666;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #666600;
  }
  .tag {
    color: #000088;
  }
  /* a markup tag name */
  .atn {
    color: #660066;
  }
  /* a markup attribute name */
  .atv {
    color: #008800;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #660066;
  }
  /* a declaration; a variable name */
  .fun {
    color: #ff0000;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: 0;
  overflow: auto;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/* IE indents via margin-left */
ol.linenums li {
  list-style-type: decimal;
  width: auto !important;
  color: #bbb;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eeeeee;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.clearfix_left {
  zoom: 1;
}
.clearfix_left:after {
  content: " ";
  display: block;
  clear: both;
}
.clearfix_left:after {
  content: " ";
  display: block;
  clear: both;
}
.clearfix_left:after {
  clear: left;
}
.top-shadowed:before {
  content: "";
  position: fixed;
  top: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 100;
  box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
}
.spotlight {
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 100, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: -moz-radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
  background: radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
}
/* Faded out hr */
hr.transparent {
  background: transparent;
}
.googleAd {
  display: none;
}
.googleAd ins {
  background: none;
}
.googleAd .slider {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: fixed;
  right: 0;
  width: 0px;
  height: 250px;
  z-index: 99;
  display: none;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(128, 128, 128, 0.1);
  padding: 20px;
}
.googleAd .slider.x300 {
  bottom: 10px;
  max-width: 300px;
}
.googleAd .slider.x50 {
  bottom: 303px;
  height: 50px;
  max-width: 300px;
}
.googleAd .slider.x250 {
  bottom: 396px;
  max-width: 250px;
}
.googleAd .slider span.noad {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 42px;
  margin-left: -15px;
  margin-top: -21px;
  padding: 0 12px;
  color: #dadada;
  font-size: 16px;
  text-align: center;
}
.sidebar,
.ex-sidebar {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: a opacity 0.1s linear;
}
@media screen and (min-width: 52em) {
  .googleAd {
    display: block;
  }
}
@media screen and (min-width: 66em) and (max-width: 85.5em) {
  .sidebar.covered {
    -webkit-backface-visibility: hidden;
    opacity: .4;
  }
}
@media screen and (min-width: 85.5em) and (max-width: 1654px) {
  .ex-sidebar.covered {
    -webkit-backface-visibility: hidden;
    opacity: .4;
  }
}
@media screen and (min-width: 1604px) {
  .googleAd .slider {
    right: none !important;
    left: 1374px !important;
  }
}
/** zocial button theme **/
/* DISQUS */
#disqus {
  max-width: 500px;
  background: url("../img/deli.png") bottom center no-repeat;
  font-family: 'Open Sans', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Verdana, Arial, Helvetica, sans-serif;
  margin: 55px 0 30px;
  padding: 30px 0 25px;
  text-align: center;
}
#disqus .dsq-brlink {
  color: #777 !important;
}
/** fonts **/
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url('http://iaarchiver-storage.appspot.com/style/websymbols/websymbols-regular-webfont.eot');
  src: url('http://iaarchiver-storage.appspot.com/style/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://iaarchiver-storage.appspot.com/style/websymbols/websymbols-regular-webfont.woff') format('woff'), url('http://iaarchiver-storage.appspot.com/style/websymbols/websymbols-regular-webfont.ttf') format('truetype'), url('http://iaarchiver-storage.appspot.com/style/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.websymbols {
  margin: 0;
}
.websymbols.icon {
  font-family: 'WebSymbolsRegular' !important;
  line-height: inherit;
}
.websymbols.pane span {
  display: inline !important;
  padding: 0 10px !important;
}
.websymbols.pane:before {
  width: 1.6em;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  content: "";
  display: block;
  float: left;
  font-family: 'WebSymbolsRegular' !important;
  font-size: 100% !important;
  font-style: normal !important;
  font-weight: normal !important;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em 0 0.2em;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: none !important;
}
.websymbols.pane.amazon:before {
  content: "a";
}
.websymbols.pane.android:before {
  content: "&";
}
.websymbols.pane.aol:before {
  content: "/";
}
.websymbols.pane.appstore:before {
  content: "A";
}
.websymbols.pane.bitcoin:before {
  content: "2";
  color: #f7931a !important;
}
.websymbols.pane.blogger:before {
  content: "B";
}
.websymbols.pane.call:before {
  content: "7";
}
.websymbols.pane.cal:before {
  content: ".";
}
.websymbols.pane.chrome:before {
  content: "[";
}
.websymbols.pane.cloudapp:before {
  content: "c";
}
.websymbols.pane.creativecommons:before {
  content: "C";
}
.websymbols.pane.disqus:before {
  content: "Q";
}
.websymbols.pane.dribbble:before {
  content: "D";
}
.websymbols.pane.dropbox:before {
  content: "d";
  color: #1f75cc !important;
}
.websymbols.pane.email:before {
  content: "]";
  color: #312c2a !important;
}
.websymbols.pane.eventasaurus:before {
  content: "v";
  color: #9de428 !important;
}
.websymbols.pane.eventbrite:before {
  content: "|";
}
.websymbols.pane.eventful:before {
  content: "'";
  color: #0066CC !important;
}
.websymbols.pane.evernote:before {
  content: "E";
}
.websymbols.pane.facebook:before {
  content: "f";
}
.websymbols.pane.fivehundredpx:before {
  content: "0";
  color: #29b6ff !important;
}
.websymbols.pane.flattr:before {
  content: "%";
}
.websymbols.pane.forrst:before {
  content: ":";
  color: #50894f !important;
}
.websymbols.pane.foursquare:before {
  content: "4";
}
.websymbols.pane.github:before {
  content: "g";
}
.websymbols.pane.gmail:before {
  content: "m";
  color: #f00 !important;
}
.websymbols.pane.google:before {
  content: "G";
}
.websymbols.pane.googleplus:before {
  content: "+";
}
.websymbols.pane.gowalla:before {
  content: "@";
}
.websymbols.pane.grooveshark:before {
  content: "8";
}
.websymbols.pane.guest:before {
  content: "?";
}
.websymbols.pane.html5:before {
  content: "5";
}
.websymbols.pane.ie:before {
  content: "6";
}
.websymbols.pane.instapaper:before {
  content: "I";
}
.websymbols.pane.intensedebate:before {
  content: "{";
}
.websymbols.pane.itunes:before {
  content: "i";
  color: #1a6dd2 !important;
}
.websymbols.pane.klout:before {
  content: "K";
}
.websymbols.pane.lanyrd:before {
  content: "-";
}
.websymbols.pane.lastfm:before {
  content: "l";
}
.websymbols.pane.linkedin:before {
  content: "L";
}
.websymbols.pane.macstore:before {
  content: "^";
}
.websymbols.pane.meetup:before {
  content: "M";
}
.websymbols.pane.myspace:before {
  content: "_";
}
.websymbols.pane.ninetyninedesigns:before {
  content: "9";
  color: #f50 !important;
}
.websymbols.pane.openid:before {
  content: "o";
  color: #ff921d !important;
}
.websymbols.pane.paypal:before {
  content: "$";
}
.websymbols.pane.pinboard:before {
  content: "n";
}
.websymbols.pane.pinterest:before {
  content: "1";
}
.websymbols.pane.plancast:before {
  content: "P";
}
.websymbols.pane.plurk:before {
  content: "j";
}
.websymbols.pane.podcast:before {
  content: "`";
}
.websymbols.pane.posterous:before {
  content: "~";
}
.websymbols.pane.quora:before {
  content: "q";
}
.websymbols.pane.rss:before {
  content: "R";
}
.websymbols.pane.scribd:before {
  content: "}";
  color: #00d5ea !important;
}
.websymbols.pane.skype:before {
  content: "S";
}
.websymbols.pane.smashing:before {
  content: "*";
}
.websymbols.pane.songkick:before {
  content: "k";
}
.websymbols.pane.soundcloud:before {
  content: "s";
}
.websymbols.pane.spotify:before {
  content: "=";
}
.websymbols.pane.stumbleupon:before {
  content: "/";
}
.websymbols.pane.tumblr:before {
  content: "k";
}
.websymbols.pane.twitter:before {
  content: "t";
}
.websymbols.pane.viadeo:before {
  content: "H";
  color: #f59b20 !important;
}
.websymbols.pane.vimeo:before {
  content: "V";
}
.websymbols.pane.weibo:before {
  content: "J";
  color: #e6162d !important;
}
.websymbols.pane.wikipedia:before {
  content: ",";
}
.websymbols.pane.windows:before {
  content: "W";
}
.websymbols.pane.wordpress:before {
  content: "w";
}
.websymbols.pane.yahoo:before {
  content: "Y";
}
.websymbols.pane.yelp:before {
  content: "y";
}
.websymbols.pane.youtube:before {
  content: "U";
}
.websymbols.pane.hatebu:before {
  content: "B!";
  font-family: "Lucida Grande", Tahoma, sans-serif !important;
  font-weight: bold !important;
}
@font-face {
  font-family: 'WebSymbolsLigaRegular';
  src: url('http://iaarchiver-storage.appspot.com/style/websymbolsLiga/websymbolsligaregular.eot');
  src: url('http://iaarchiver-storage.appspot.com/style/websymbolsLiga/websymbolsligaregular.eot?#iefix') format('embedded-opentype'), url('http://iaarchiver-storage.appspot.com/style/websymbolsLiga/websymbolsligaregular.woff') format('woff'), url('http://iaarchiver-storage.appspot.com/style/websymbolsLiga/websymbolsligaregular.ttf') format('truetype'), url('http://iaarchiver-storage.appspot.com/style/websymbolsLiga/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.websymbolsliga {
  margin: 0;
  padding: 3px 12px !important;
}
.websymbolsliga.icon {
  font-family: 'WebSymbolsLigaRegular' !important;
  line-height: 18px;
}
.websymbolsliga.pane span {
  display: inline !important;
  padding: 0 10px !important;
}
.websymbolsliga.pane:before {
  width: 1.6em;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  content: "";
  display: block;
  float: left;
  font-family: 'WebSymbolsLigaRegular' !important;
  font-size: 100% !important;
  font-style: normal !important;
  font-weight: normal !important;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em 0 0.2em;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: none !important;
  text-rendering: optimizeLegibility !important;
}
.websymbolsliga.facebook:before {
  content: "\e4";
}
.websymbolsliga.twitter:before {
  content: "\e5";
}
.websymbolsliga.vkontakte:before {
  content: "\e6";
}
.websymbolsliga.linkedin:before {
  content: "\e7";
}
.websymbolsliga.googleplus:before {
  content: "\e8";
}
.websymbolsliga.odnoklassniki:before {
  content: "\e9";
}
.websymbolsliga.tumblr:before {
  content: "\ea";
}
.websymbolsliga.instagram:before {
  content: "\eb";
}
.websymbolsliga.livejournal:before {
  content: "\ec";
}
.websymbolsliga.vimeo:before {
  content: "\ee";
}
.websymbolsliga.google:before {
  content: "\f2";
}
.websymbolsliga.flickr:before {
  content: "\4e";
}
.websymbolsliga.behance:before {
  content: "\4f";
}
.websymbolsliga.blogger:before {
  content: "\50";
}
.websymbolsliga.github:before {
  content: "\52";
}
.websymbolsliga.youtube:before {
  content: "\f0";
}
.websymbolsliga.skype:before {
  content: "\ef";
}
.websymbolsliga.pinterest:before {
  content: "\ed";
}
.websymbolsliga.evernote:before {
  content: "\a2";
}
.websymbolsliga.picassa:before {
  content: "\a3";
}
.websymbolsliga.dribble:before {
  content: "\a4";
}
.websymbolsliga.weibo:before {
  content: "\a5";
}
.websymbolsliga.lastfm:before {
  content: "\a6";
}
.websymbolsliga.soundcloud:before {
  content: "\a7";
}
.websymbolsliga.dropbox:before {
  content: "\a8";
}
.websymbolsliga.revision:before {
  content: "\a9";
}
.websymbolsliga.kickstarter:before {
  content: "\b0";
}
.websymbolsliga.rssbox:before {
  content: "\f1";
}
.websymbolsliga.rss:before {
  content: "\24";
}
.websymbolsliga.picture:before {
  content: "a";
}
.websymbolsliga.text:before {
  content: "Z";
}
.websymbolsliga.slideshow:before {
  content: "f";
}
.websymbolsliga.Gallery:before {
  content: "d";
}
.websymbolsliga.movie:before {
  content: "";
}
.websymbolsliga.movieClip:before {
  content: "c";
}
.websymbolsliga.table:before {
  content: "i";
}
.websymbolsliga.code:before {
  content: "_";
}
.websymbolsliga.link:before {
  content: "o";
}
.websymbolsliga.terminal:before {
  content: "e";
}
.websymbolsliga.normal:before {
  content: "m";
}
.websymbolsliga.album:before {
  content: "n";
}
.websymbolsliga.alignleft:before {
  content: "F";
}
.websymbolsliga.aligncenter:before {
  content: "E";
}
.websymbolsliga.alignright:before {
  content: "D";
}
.websymbolsliga.outdent:before {
  content: "H";
}
.websymbolsliga.indent:before {
  content: "G";
}
.websymbolsliga.bullets:before {
  content: "I";
}
.websymbolsliga.ordered:before {
  content: "J";
}
.websymbolsliga.archive:before {
  content: "Y";
}
.websymbolsliga.folder:before {
  content: "j";
}
.websymbolsliga.rotateright:before {
  content: "\a9";
}
.websymbolsliga.rotateleft:before {
  content: "\aa";
}
.websymbolsliga.user:before {
  content: "\2e";
}
.websymbolsliga.group:before {
  content: "\a1";
}
.websymbolsliga.adduser:before {
  content: "\22";
}
.websymbolsliga.synchronise:before {
  content: "\21ab";
}
.websymbolsliga.boxed:before {
  content: "A";
}
.websymbolsliga.boxedlist:before {
  content: "B";
}
.websymbolsliga.list:before {
  content: "C";
}
.websymbolsliga.logout:before {
  content: "";
}
.websymbolsliga.alert:before {
  content: "";
}
.websymbolsliga.edit:before {
  content: "";
}
.websymbolsliga.vertical:before {
  content: "";
}
.websymbolsliga.horisontal:before {
  content: "";
}
.websymbolsliga.diagonal:before {
  content: "";
}
.websymbolsliga.lock:before {
  content: "";
}
.websymbolsliga.unlock:before {
  content: "";
}
.websymbolsliga.attachment:before {
  content: "";
}
.websymbolsliga.settings:before {
  content: "";
}
.websymbolsliga.cloudup:before {
  content: "l";
}
.websymbolsliga.cloud:before {
  content: "";
}
.websymbolsliga.calendar:before {
  content: "";
}
.websymbolsliga.clock:before {
  content: "";
}
.websymbolsliga.comment:before {
  content: "";
}
.websymbolsliga.commentempty:before {
  content: "";
}
.websymbolsliga.heartempty:before {
  content: "";
}
.websymbolsliga.views:before {
  content: "";
}
.websymbolsliga.rating:before {
  content: "";
}
.websymbolsliga.star:before {
  content: "";
}
.websymbolsliga.share:before {
  content: "";
}
.websymbolsliga.chat:before {
  content: "";
}
.websymbolsliga.chatactive:before {
  content: "";
}
.websymbolsliga.tag:before {
  content: "";
}
.websymbolsliga.pin:before {
  content: "";
}
.websymbolsliga.window:before {
  content: "";
}
.websymbolsliga.search:before {
  content: "";
}
.websymbolsliga.shuffle:before {
  content: "";
}
.websymbolsliga.repeat:before {
  content: "";
}
.websymbolsliga.retweet:before {
  content: "";
}
.websymbolsliga.fold:before {
  content: "";
}
.websymbolsliga.unfold:before {
  content: "";
}
.websymbolsliga.openmenu:before {
  content: "";
}
.websymbolsliga.closemenu:before {
  content: "";
}
.websymbolsliga.mute:before {
  content: "";
}
.websymbolsliga.halfloud:before {
  content: "";
}
.websymbolsliga.loud:before {
  content: "";
}
.websymbolsliga.reply:before {
  content: "";
}
.websymbolsliga.replyAll:before {
  content: "";
}
.websymbolsliga.forward:before {
  content: "";
}
.websymbolsliga.fullscreen:before {
  content: "";
}
.websymbolsliga.normalscreen:before {
  content: "";
}
.websymbolsliga.phone:before {
  content: "";
}
.websymbolsliga.mail:before {
  content: "";
}
.websymbolsliga.zoomin:before {
  content: "";
}
.websymbolsliga.zoominoutline:before {
  content: "";
}
.websymbolsliga.zoominfill:before {
  content: "";
}
.websymbolsliga.zoomout:before {
  content: "";
}
.websymbolsliga.zoomoutoutline:before {
  content: "";
}
.websymbolsliga.zoomoutfill:before {
  content: "";
}
.websymbolsliga.resize:before {
  content: "";
}
.websymbolsliga.resizeoutline:before {
  content: "";
}
.websymbolsliga.resizefill:before {
  content: "";
}
.websymbolsliga.top:before {
  content: "";
}
.websymbolsliga.topoutline:before {
  content: "";
}
.websymbolsliga.topfill:before {
  content: "";
}
.websymbolsliga.bottom:before {
  content: "";
}
.websymbolsliga.bottomoutline:before {
  content: "";
}
.websymbolsliga.bottomfill:before {
  content: "";
}
.websymbolsliga.right:before {
  content: "";
}
.websymbolsliga.rightoutline:before {
  content: "";
}
.websymbolsliga.rightfill:before {
  content: "";
}
.websymbolsliga.left:before {
  content: "";
}
.websymbolsliga.leftoutline:before {
  content: "";
}
.websymbolsliga.leftfill:before {
  content: "";
}
.websymbolsliga.play:before {
  content: "";
}
.websymbolsliga.playoutline:before {
  content: "";
}
.websymbolsliga.playfill:before {
  content: "";
}
.websymbolsliga.pause:before {
  content: "";
}
.websymbolsliga.pauseoutline:before {
  content: "";
}
.websymbolsliga.pausefill:before {
  content: "";
}
.websymbolsliga.stop:before {
  content: "";
}
.websymbolsliga.stopoutline:before {
  content: "";
}
.websymbolsliga.stopfill:before {
  content: "";
}
.websymbolsliga.sort:before {
  content: "";
}
.websymbolsliga.sortoutline:before {
  content: "";
}
.websymbolsliga.sortfill:before {
  content: "";
}
.websymbolsliga.close:before {
  content: "";
}
.websymbolsliga.closeoutline:before {
  content: "";
}
.websymbolsliga.closefill:before {
  content: "";
}
.websymbolsliga.rotate:before {
  content: "";
}
.websymbolsliga.rotateoutline:before {
  content: "";
}
.websymbolsliga.rotatefill:before {
  content: "";
}
.websymbolsliga.download:before {
  content: "";
}
.websymbolsliga.downloadoutline:before {
  content: "";
}
.websymbolsliga.downloadfill:before {
  content: "";
}
.websymbolsliga.upload:before {
  content: "";
}
.websymbolsliga.uploadoutline:before {
  content: "";
}
.websymbolsliga.uploadfill:before {
  content: "";
}
.websymbolsliga.done:before {
  content: "Q";
}
.websymbolsliga.doneoutline:before {
  content: "";
}
.websymbolsliga.donefill:before {
  content: "";
}
.websymbolsliga.previous:before {
  content: "";
}
.websymbolsliga.previousoutline:before {
  content: "";
}
.websymbolsliga.previousfill:before {
  content: "";
}
.websymbolsliga.next:before {
  content: "";
}
.websymbolsliga.nextoutline:before {
  content: "";
}
.websymbolsliga.nextfill:before {
  content: "";
}
.websymbolsliga.hatebu:before {
  content: "B!";
  font-family: "Lucida Grande", Tahoma, sans-serif !important;
  font-weight: bold !important;
}
body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  color: #444444;
  font: 14px/1.4 'Open Sans', Helvetica, Arial, sans-serif;
}
body .wrapper {
  background: url("../img/scriptogram_img.png") 608px 300px fixed no-repeat;
  max-width: 1304px;
  padding: 0;
  margin: 0;
}
body .wrapper .header {
  margin-top: 25px;
  max-width: 718px;
}
body .wrapper .blog,
body .wrapper .footer {
  max-width: 768px;
}
a {
  text-decoration: none;
}
a:link,
a:active {
  color: #5691cd;
}
a:visited {
  color: #5691cd;
}
a:link:hover,
a:active:hover,
a:visited:hover {
  border-bottom: 1px solid #5691cd;
}
a:link:hover,
a:active:hover {
  color: #5691cd;
}
a:visited:hover {
  color: #5691cd;
}
a > img {
  margin-bottom: -1px;
}
a.img {
  border: none;
  background: transparent !important;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: square;
}
table {
  max-width: 500px;
  margin: 2em 0;
  padding: 2px 0 10px;
  border-spacing: 2px;
  border-bottom: 2px solid #ccc;
}
table th,
table td {
  padding: 0.3em 0.75em;
}
table th {
  border-top: 1px solid #ddd;
  background: #f2f2f2;
  color: #777;
  text-align: left;
}
table td {
  border-top: 1px solid #ddd;
  color: #444;
}
table caption {
  text-align: left;
  color: #FFF;
  margin-bottom: -1em;
  margin-top: 1em;
}
dt {
  font-weight: bold;
}
.body-post > blockquote {
  margin-bottom: 30px;
  margin-right: 14px;
  border-right: 1px solid #ccc;
}
strong,
b {
  font-family: helvetica, sans-serif;
  color: #444;
}
pre,
code {
  max-width: 500px;
}
span.date {
  color: #aaaaaa;
}
.frame {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: a all 0.2s ease;
  position: relative;
  text-align: center;
  width: 98%;
  margin: 0 auto 20px;
  padding: 0;
  cursor: pointer;
}
.frame p {
  margin: 0 !important;
  padding: 8px;
  font-size: 1.2em;
  color: #444;
}
.frame p:before {
  content: '&';
  font-family: 'WebSymbolsRegular';
  margin-right: 0.5em;
}
.frame:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #5f5f5f;
  background-color: rgba(64, 64, 64, 0.75);
  border: 1px solid #505050;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.frame:hover p,
.frame:hover p:before {
  color: #f1f1f1;
}
.frame.youtube .thumb {
  display: block;
  height: 3em;
  width: 100%;
  background: #ddd;
  border-bottom: 1px solid #dadada;
}
.frame.youtube:hover .thumb {
  border-bottom: 1px solid #777;
}
iframe.frame {
  background: url('../img/loading.gif') center center no-repeat !important;
  height: 300px;
}
.menu {
  zoom: 1;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.9em;
  padding-top: 3px;
}
.menu:after {
  content: " ";
  display: block;
  clear: both;
}
.menu:after {
  content: " ";
  display: block;
  clear: both;
}
.menu li {
  list-style: none;
}
.menu li > a,
.menu li > span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  float: left;
  display: block;
}
.menu li > a:hover,
.menu li > a.hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #5f5f5f;
  background-color: rgba(64, 64, 64, 0.75);
  border: 1px solid #505050;
  border: 1px solid rgba(128, 128, 128, 0.5);
  text-decoration: none;
}
.menu li > a:hover b,
.menu li > a.hover b {
  color: #fff !important;
  font-weight: bold;
}
.menu li > span {
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  color: #bbb;
  background: rgba(235, 235, 235, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.1);
}
.menu .blog-title a {
  padding-left: 35px;
  background: #f0f0f0 url('http://scriptogr.am/lib/img/favicon.ico') 10px center no-repeat\9;
  background: rgba(0, 0, 0, 0.05) url("http://scriptogr.am/lib/img/favicon.ico") 10px center no-repeat;
  color: #777;
}
.menu .blog-title a:hover {
  background: rgba(64, 64, 64, 0.75) url("http://scriptogr.am/lib/img/favicon.ico") 10px center no-repeat;
  text-decoration: none;
  color: #f9f9f9;
}
@media screen and (max-width: 52em) {
  .menu li > span {
    display: none;
  }
}
#eyecatch {
  margin: 45px 50px 70px;
  max-width: 718px;
  text-align: center;
}
#eyecatch .blog-title {
  font-size: .9em;
  font-weight: 300;
  color: #aaa;
}
#eyecatch .eyecatch-content {
  background: -moz-radial-gradient(center bottom 0, circle bottom 100, #ffffff, rgba(255, 255, 255, 0));
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 100, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: -moz-radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
  background: radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
#eyecatch .eyecatch-content #loader-title {
  padding-top: 120px;
}
#eyecatch .eyecatch-content #loader-logo {
  position: relative;
  margin: 1em;
  font-size: 10em;
  font-size: 140px;
  line-height: 120%;
}
#eyecatch .eyecatch-content #loader-logo .loader-logo-f {
  position: absolute;
  top: 0;
  left: 135px;
  z-index: 99;
}
#eyecatch .eyecatch-content #loader-logo .loader-logo-b {
  position: absolute;
  top: 0;
  left: 135px;
}
.header {
  padding-left: 2px;
}
@media screen and (min-width: 52em) {
  .header {
    padding-left: 50px;
  }
}
.sidebar {
  zoom: 1;
  position: relative;
  bottom: auto;
  left: auto;
  max-width: 718px;
}
.sidebar:after {
  content: " ";
  display: block;
  clear: both;
}
.sidebar:after {
  content: " ";
  display: block;
  clear: both;
}
.sidebar .sidebar-content ul {
  zoom: 1;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.45em;
}
.sidebar .sidebar-content ul:after {
  content: " ";
  display: block;
  clear: both;
}
.sidebar .sidebar-content ul:after {
  content: " ";
  display: block;
  clear: both;
}
.sidebar .sidebar-content ul li {
  list-style: none;
}
.sidebar .sidebar-content ul li > a,
.sidebar .sidebar-content ul li > span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  float: left;
  display: block;
}
.sidebar .sidebar-content ul li > a:hover,
.sidebar .sidebar-content ul li > a.hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #5f5f5f;
  background-color: rgba(64, 64, 64, 0.75);
  border: 1px solid #505050;
  border: 1px solid rgba(128, 128, 128, 0.5);
  text-decoration: none;
}
.sidebar .sidebar-content ul li > a:hover b,
.sidebar .sidebar-content ul li > a.hover b {
  color: #fff !important;
  font-weight: bold;
}
.sidebar .sidebar-content ul li > span {
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  color: #bbb;
  background: rgba(235, 235, 235, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.1);
}
.sidebar .sidebar-content ul li.ctrl {
  display: none;
}
.sidebar .sidebar-content ul li > a {
  width: auto;
  color: #555;
}
.sidebar .sidebar-content ul li > a:hover {
  color: #f9f9f9;
}
.sidebar .sidebar-content ul li > a span {
  color: #aaaaaa !important;
  display: block;
  padding: 0;
}
.sidebar .sidebar-content ul li > a span.scounter {
  width: 1em;
  height: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #666 !important;
  margin-left: 10px;
  background-color: rgba(256, 256, 256, 0.6);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
.sidebar .sidebar-content ul li > span {
  padding: 4px 12px 2px;
}
.sidebar .sidebar-content ul li > span.websymbols {
  margin: 0 1px 1px 0 !important;
  padding: 0 !important;
  text-align: center;
  width: auto;
  display: block;
}
.sidebar .sidebar-content ul li > span.websymbols a {
  height: 34px;
  line-height: 34px;
  padding: 4px 12px 2px;
  display: block;
  color: #777;
}
.sidebar .sidebar-content ul li > span.websymbols:hover {
  background: #5f5f5f;
  background: rgba(0, 0, 0, 0.5);
}
.sidebar .sidebar-content ul li > span.websymbols:hover a {
  color: #f9f9f9;
  text-decoration: none;
}
.sidebar .sidebar-content ul #related li a,
.sidebar .sidebar-content ul #linkback li a {
  height: 17px;
  padding: 4px 12px 2px;
}
.sidebar .sidebar-content ul #related li a b,
.sidebar .sidebar-content ul #linkback li a b {
  font-weight: normal;
}
@media screen and (min-width: 52em) {
  .sidebar {
    padding: 0 0 0 50px;
  }
}
@media screen and (min-width: 66em) {
  .sidebar {
    position: fixed;
    bottom: 15px;
    left: 798px;
    width: 205px;
    margin: 0;
    padding-left: 2px;
  }
  .sidebar .pagination a {
    padding: 0 6px;
  }
  .sidebar .sidebar-content ul li#ctrl-down {
    display: block !important;
  }
  .sidebar .sidebar-content ul li a,
  .sidebar .sidebar-content ul li span {
    width: 180px;
  }
  .sidebar .sidebar-content ul li.active a {
    color: #dddddd;
    background-color: rgba(64, 64, 64, 0.75);
  }
  .sidebar .sidebar-content ul li.active a:hover {
    color: #fff;
  }
  .sidebar .sidebar-content ul li > span a {
    line-height: 24px;
    height: 24px;
  }
  .sidebar #related li a,
  .sidebar #linkback li a {
    height: auto !important;
  }
}
.ex-sidebar {
  zoom: 1;
  z-index: 99;
  margin: 45px 0 30px;
  float: none;
  padding-left: 2px;
  max-width: 768px;
}
.ex-sidebar:after {
  content: " ";
  display: block;
  clear: both;
}
.ex-sidebar:after {
  content: " ";
  display: block;
  clear: both;
}
.ex-sidebar .ex-sidebar-content {
  zoom: 1;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.9em;
  padding-top: 3px;
  margin-right: 5px;
}
.ex-sidebar .ex-sidebar-content:after {
  content: " ";
  display: block;
  clear: both;
}
.ex-sidebar .ex-sidebar-content:after {
  content: " ";
  display: block;
  clear: both;
}
.ex-sidebar .ex-sidebar-content li {
  list-style: none;
}
.ex-sidebar .ex-sidebar-content li > a,
.ex-sidebar .ex-sidebar-content li > span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  float: left;
  display: block;
}
.ex-sidebar .ex-sidebar-content li > a:hover,
.ex-sidebar .ex-sidebar-content li > a.hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #5f5f5f;
  background-color: rgba(64, 64, 64, 0.75);
  border: 1px solid #505050;
  border: 1px solid rgba(128, 128, 128, 0.5);
  text-decoration: none;
}
.ex-sidebar .ex-sidebar-content li > a:hover b,
.ex-sidebar .ex-sidebar-content li > a.hover b {
  color: #fff !important;
  font-weight: bold;
}
.ex-sidebar .ex-sidebar-content li > span {
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  color: #bbb;
  background: rgba(235, 235, 235, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.1);
}
.ex-sidebar .ex-sidebar-content .blog-title a {
  padding-left: 35px;
  background: #f0f0f0 url('http://scriptogr.am/lib/img/favicon.ico') 10px center no-repeat\9;
  background: rgba(0, 0, 0, 0.05) url("http://scriptogr.am/lib/img/favicon.ico") 10px center no-repeat;
  color: #777;
}
.ex-sidebar .ex-sidebar-content .blog-title a:hover {
  background: rgba(64, 64, 64, 0.75) url("http://scriptogr.am/lib/img/favicon.ico") 10px center no-repeat;
  text-decoration: none;
  color: #f9f9f9;
}
.ex-sidebar .ex-sidebar-content li a {
  width: 180px;
  background: none;
  border-color: transparent;
  width: 153px;
  font-size: .9em;
}
.ex-sidebar .ex-sidebar-content li a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
}
.ex-sidebar .ex-sidebar-content li a img {
  display: block;
  margin: 10px auto;
  max-width: 90%;
  height: auto;
  border: 8px solid #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ex-sidebar .ex-sidebar-content li a span {
  color: #aaaaaa;
}
.ex-sidebar .ex-sidebar-content li a .column-title {
  font-size: 11px;
  margin-bottom: 10px;
  display: block;
}
.ex-sidebar .ex-sidebar-content li a .date {
  display: block;
}
.ex-sidebar .scrollbar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: none;
  width: 4px;
  height: auto;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 52em) {
  .ex-sidebar {
    padding-left: 50px;
  }
}
@media screen and (min-width: 85.5em) {
  .ex-sidebar {
    margin: 0;
    padding: 3% 0;
    top: 0;
    left: 1040px;
    position: fixed;
    overflow: hidden;
    width: 305px;
    height: 92%;
  }
  .ex-sidebar .ex-sidebar-content {
    float: none;
    padding: 0 !important;
  }
  .ex-sidebar .ex-sidebar-content li a {
    width: 264px;
    font-size: 1em;
  }
  .ex-sidebar .ex-sidebar-content li a .column-title {
    font-size: 1em;
  }
  .ex-sidebar .ex-sidebar-content li a,
  .ex-sidebar .ex-sidebar-content li a:hover {
    padding-bottom: 10px;
  }
  .ex-sidebar .ex-sidebar-content li a .date {
    text-align: right;
  }
}
.blog {
  background: -moz-radial-gradient(center bottom 0, circle bottom 100, #ffffff, rgba(255, 255, 255, 0));
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 100, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: -moz-radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
  background: radial-gradient(center bottom, circle 100, #ffffff, rgba(255, 255, 255, 0));
}
.post {
  margin-top: 5px;
  padding-top: 10px;
}
.post h1 {
  font-weight: bold;
  margin: 60px 0 30px;
  font-size: 24px;
  line-height: 1em;
  color: #444;
}
.post h2 {
  font-weight: bold;
  margin: 30px 0 25px;
  font-size: 18px;
}
.post h3 {
  font-weight: bold;
  margin: 30px 0 10px;
  font-size: 16px;
}
.post h4 {
  font-weight: bold;
  margin: 20px 0 10px;
  font-size: 14px;
}
.post hr {
  height: 40px;
  background: url("../img/deli2x.png") center no-repeat;
  background-size: 104px;
}
.post.archive {
  margin: 0;
  padding: 0;
}
.post,
.post .content,
.post .archive-content {
  zoom: 1;
}
.post:after,
.post .content:after,
.post .archive-content:after {
  content: " ";
  display: block;
  clear: both;
}
.post:after,
.post .content:after,
.post .archive-content:after {
  content: " ";
  display: block;
  clear: both;
}
.post:after,
.post .content:after,
.post .archive-content:after {
  clear: left;
}
.post:after,
.post .content:after,
.post .archive-content:after {
  content: " ";
  display: block;
  clear: both;
}
.post:after,
.post .content:after,
.post .archive-content:after {
  content: " ";
  display: block;
  clear: both;
}
.post:after,
.post .content:after,
.post .archive-content:after {
  clear: left;
}
.post .content {
  padding-top: 2px;
  border-right: 1px solid #dedede;
}
.archive-content .archive-title {
  padding-left: 47px;
  border-left: 3px solid #444444;
  margin-top: 2px;
}
.archive-content .archive-title h3 {
  margin: 0;
  padding: 0;
  line-height: 2em;
}
.archive-content .archive-title h3 a:hover {
  text-decoration: none;
  color: #fe57A1 !important;
}
.archive-content .archive-divider {
  padding-left: 50px;
  margin-top: 100px;
}
.archive-content .archive-divider h2 {
  color: #aaaaaa;
  font-size: 22px;
}
.archive-content .archive-divider.divider_0 {
  margin-top: 50px;
}
.title {
  border-left: 6px solid #444444;
  padding-left: 44px;
  margin-bottom: 15px;
}
.title a:hover {
  color: #fe57a1 !important;
  border-bottom: 1px solid #fe57a1;
}
.title h3 a span.websymbols {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin: 0 1px 1px 0;
  padding: 1px 12px;
  text-align: center;
  line-height: 1.25em;
  width: 20px;
  display: inline-block;
  margin: 0 12px;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: normal;
}
.title h3 a:hover span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #5f5f5f;
  background-color: rgba(64, 64, 64, 0.75);
  border: 1px solid #505050;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.meta {
  width: 90px;
  float: left;
  margin: 2px 0 42px 50px;
  padding: 0;
}
.body-post {
  float: left;
  padding-left: 25px;
  max-width: 520px;
  width: 90%;
  word-wrap: break-word;
}
.body-post h1:before,
.body-post h2:before,
.body-post h3:before,
.body-post h4:before {
  color: #444;
}
.body-post h1 {
  text-indent: -1em;
}
.body-post h1:before {
  content: "# ";
  width: 1.0em;
}
.body-post h2 {
  text-indent: -1.5em;
}
.body-post h2:before {
  content: "## ";
  width: 1.5em;
}
.body-post h3 {
  text-indent: -2em;
}
.body-post h3:before {
  content: "### ";
  width: 2.0em;
}
.body-post h4 {
  text-indent: -2.5em;
}
.body-post h4:before {
  content: "#### ";
  width: 2.5em;
}
.body-post blockquote {
  margin: 0 0 0 1em;
  color: #777;
}
.body-post blockquote p {
  margin: 0;
}
.body-post blockquote:before {
  content: ">";
  float: left;
  margin-left: -1em;
}
.body-post blockquote > blockquote:before {
  content: ">>";
  margin-left: -1.5em;
}
.body-post blockquote > blockquote > blockquote:before {
  content: ">>>";
  margin-left: -2em;
}
.body-post > blockquote {
  margin: 1.5em 0;
}
@media screen and (max-width: 52em) {
  .title,
  .archive-title,
  .archive-divider {
    padding-left: 19px !important;
  }
  .archive-divider {
    margin-top: 35px !important;
  }
  .meta {
    margin-left: 25px;
  }
  .body-post h1,
  .body-page h1,
  .body-post h2,
  .body-page h2,
  .body-post h3,
  .body-page h3,
  .body-post h4,
  .body-page h4 {
    text-indent: 0;
  }
}
.body-post,
.body-page {
  font: 13.5px/1.35 'Open Sans', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.85em;
}
.body-post a,
.body-page a {
  border-bottom: 1px dotted #ccc;
}
.body-post p,
.body-page p {
  margin: 0 0 1.5em;
  max-width: 500px;
}
.body-post img,
.body-page img {
  max-width: 480px;
  width: 90%;
  height: auto;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 10px solid #f9f9f9;
}
.body-post ul,
.body-page ul {
  margin: 20px 0;
}
.body-post ul li,
.body-page ul li {
  margin-top: 0;
  max-width: 500px;
}
.body-post .introduction,
.body-page .introduction {
  display: block;
  background: url("../img/deli2x.png") bottom center no-repeat;
  background-size: 104px;
  padding-bottom: 3em;
  margin: 0 0 2.8em;
}
.footer {
  margin-top: 25px;
  padding: 0 0 15px 2px;
}
.footer .menu {
  max-width: 766px;
  padding: 0 0 25px;
}
.footer .menu li a {
  float: right;
}
.footer .menu li a span {
  padding-left: 10px;
  color: #aaaaaa;
}
@media screen and (max-width: 30em) {
  .footer .generated_from_feeds li a {
    width: 92%;
  }
}
.copyright {
  font: 10px/1 'Open Sans', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
  margin: 20px 15px 0;
}
.copyright span {
  display: block;
  line-height: 1.5em;
}
